body{
	font-family: sans-serif;
	background: url(bg2.jpg);
	background-size: cover; 
	 
}

}
.wrapper{
    background: url(bg2.jpg);
    background-size: cover;
    height: 100vh;

}
.navbar{
    height: 70px;
    width: 100%;
    background: #000000;;
    opacity: 80%;
}
.logo{
    width: 100px;
    height: 70px;
    padding: 0px 80px;
    border-radius:50%;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    padding: 6px 6px;
    font-family:'Times New Roman', Times, serif;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    opacity: 0.9;
    background-size: 100%;
    border-radius: 2px;

}
.list1{
    display: none;
    margin: 0px 0px;
}
.list1 ul li{
    margin: 0 ;
    padding:0px 0px 0px 10px;
}
.navbar ul li:hover .list1{
    display: block;
    position: absolute;
    background: #000000;
    opacity: 100%;
    margin-top: -25px;
    margin-left: -15px;
    border-radius: 2%;
}
.list2{
    display: none;
}
.list2 ul li{
    margin: 0 ;
    padding:0px 0px 0px 15px;
}
.navbar ul li:hover .list2{
    display: block;
    position: absolute;
    background:#000000;
    opacity: 100%;
    margin-top: -25px;
    margin-left: -15px;
    border-radius: 2%;
}



.table-content{
	position: relative;
	width :700 px;
	margin-left: 30%;
	text-align: center;
	margin-top:20px;
	table-layout: fixed;
	border-radius: 7px 7px 0 0;
	overflow: hidden;
	box-shadow: 0 0 5px #99a3a4;

}
.table-content thead tr {
	background: #009879;
	font-size:20px;
	font-weight: bold;
	color:white;
}
.table-content th,
.table-content td{
   padding: 10px 10px;
}
tr td{
	border:2px solid black;
    background: #eaecee;
}
h2{
	margin-left: 100px;

}

p{
	margin-right:0px;
	right:0;
	transform: translate(1200px, -20px);
	color:orange;

}
p a{
	text-decoration: none;
	font-style: none;
	color: orange;
	border: 2px solid orange;
	font-size: 20px;
	font-weight: bold;
	border-radius: 7px;
	background: purple;
	
}
p a:hover{
	background: yellow;
	color:green;
	border: 3px solid green;
}









